
<div *ngIf="userService.data" class="page-content user-page">
    <button mat-button class="add-button"><label for="userSearch" >Search: </label></button>&nbsp;
    <input type="text" (input)="userSearch($event)" id="userSearch">&nbsp;
    <i class="material-icons">search </i>
    <br><br>
        
            
            
    <table mat-table [dataSource]="userSearchNameFunction()" class="mat-elevation-z8" >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let user" (click)="updateUser(user)"> {{user.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user" (click)="updateUser(user)"> {{user.name}} </td>
    </ng-container>
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let user" (click)="updateUser(user)"> {{user.username}} </td>
    </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
  <br>
  <button class="add-button" (click)="addUser()"mat-button>Add User</button>

</div>


