mat-form-field{
    width: 90px;
}


/* .add-button {
    background: #3f51b5;
    color: white;
  } */

  mat-list {
      width:800px;
  }
  .listItemDiv {
      display: flex;
      justify-content: space-between;
      background-color: lightgrey;
    }
    .listItemDiv{
        width:100%;
    }
    