<div class="page-content">
       
        <mat-form-field (change)="choice($event)">
            <mat-label>Sort By</mat-label>
            <select matNativeControl required>
                <option value="byUser">By User</option>
                <option value="all">All</option>            
            </select>
        </mat-form-field>
        
        <div *ngIf="display=='byUser'; else allTodos">
            <button class="add-button" (click)="addTodoForm()"mat-button>Add Todo</button>

            <mat-list *ngIf="todoService.todosByUser">
                <span *ngFor="let todo of todoService.todosByUser; index as i ">
                    <mat-list-item >
                        {{ i }}: &nbsp;<mat-checkbox [checked]="todo.completed"></mat-checkbox>
                        &nbsp; {{todo.title}}&nbsp;
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </span>
            </mat-list>
        </div>
    
        <!-- This is for all the Todos -->
        <ng-template #allTodos>
                <mat-list *ngIf="todoService.data ">
                        <span *ngFor="let todo of todoService.data ; index as i ">
                            <mat-list-item >
                                      {{ i }}: &nbsp;<mat-checkbox [checked]="todo.completed"></mat-checkbox>
                                 &nbsp; {{todo.title}}&nbsp;
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </span>
                    </mat-list>
        </ng-template>
    </div>
    
