<div class="page-content">
    <!--BY USER OR ALL POSTS-->
    <mat-form-field (change)="choice($event)">
        <mat-label>Sort By</mat-label>
        <select matNativeControl required>
            <option value="byUser">By User</option>
            <option value="all">All</option>            
        </select>
    </mat-form-field><br>
    <!--POSTS BY USER-->
    <div *ngIf="display=='byUser'; else allPosts">
        <!--ADD POST BUTTON-->
        <button class="add-button" (click)="addPostForm()"mat-button>Add Post</button>

        <mat-accordion *ngIf="postService.postsByUser">
                <mat-expansion-panel *ngFor="let post of postService.postsByUser">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{post.title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{post.userId}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                        <app-post [post]="post"></app-post>
                </mat-expansion-panel>
            </mat-accordion>
        
    </div>
    <!--ALL POSTS IF NO USER-->
     <ng-template #allPosts>
            <div *ngIf="postService.data">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let post of postService.data">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{post.title}}
                                </mat-panel-title>
                                <mat-panel-description >
                                    {{post.userId}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                                <app-post [post]="post"></app-post>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
    </ng-template> 
</div>

